*{margin:0;padding:0;}
body{
background:#FCFCFC;
font :12px tahoma;
direction:rtl;
}
.container{width:1000px;margin:auto;}
.clear{clear:both;}

.navtop ul{list-style:none;margin:0;padding:0;}
.navtop ul li{
float: right;
margin-left: 30px;
line-height: 35px;
 }
.navtop ul li a{text-decoration:none;color:rgba(0, 0, 0, 0.44);}
.navtop ul li a:hover{ color:#000}
.head{padding:5px;}
.logo{float:right;}
.ads{float:left;}
.navbar{
background:#FFF;height:55px;
border-top: 1px solid #FFF;
border-bottom: 1px solid #FFF;
color: rgba(0, 0, 0, 0.38);}
.navbar ul{list-style:none;margin:0;padding:0;}
.navbar ul li{
float: right;
margin-left: 40px;
line-height: 55px;
 }
.navbar ul li a{text-decoration:none;color:rgba(0, 0, 0, 0.44);padding:10px;}
.navbar ul li a:hover{ background:#F9F9F9; }
.footer{color:#FFF; background:rgba(0, 0, 0, 0.45); padding:4px; }
.rightco{
background:#FFF;
border: 2px solid rgba(58, 92, 53, 0.14);
padding:2px;
margin-bottom:10px;
}
.blocklift{
float:right;
margin-right:500px;

}
.title-block h3{font-family:tahoma; font-size:22px; border-bottom: 2px solid rgba(17, 59, 206, 0.66);padding:4px;}
.content-block{background:#fff;padding:4px;}
.pic img{width:230px;height:200px;float:right;}
.content{float:left;}
td p{font-size:14px;padding:4px;}
.ti_info_filtr{background:#FAFAFA;padding:10px;border-bottom: 2px solid rgba(27, 62, 22, 0.43);}
.tb{padding:6px;}

.regesterform{background:#fff;padding:10px;}
.error{background:#fa8d88; border:1px solid #d83c35;color:#c6160f; padding:15px;text-align:center;}
.success{ackground:#b1f47f; border:1px solid #86e341;color:#5cc60f; padding:15px;text-align:center;}
.set{border:0;padding:6px; background:#027abe;color:#fff;font-size:14px; font:tahoma; }
.set:hover{background:#068cd;}
.admincontant{background:#fff;border:1px solid #f9f9f9; padding:3px;border-radius:3px;font:13px tahoma; margin-top:7px;}
input[type=text],textarea,input[type=password]{border:1px solid #e9e4e4; padding:8px 5px;width:50%;}
input[type=submit]{background:#0040FF;color:#fff;font:14px tahoma;padding: 8px 10px;}
.cm{
width:500px;
height:300px;
margin-bottom:30px;


}